main > form, section {
    display: flex;
    justify-content: center;
}
main form > div {
    margin: 20px;
    margin-top: 50px;
    height: 250px;
    min-width: 20%;
    max-width: 40%;
}
section {
    justify-content: space-evenly;
}
section > div {
    margin: 20px;
    width: 40%;
}
input {
    line-height: 35px;
    font-size: 1.25em;
    border-radius: 10px;
    border: 1.5px black solid;
    width: 40px;
    transition: all 0.5s;
    padding-left: 10px;
}
input:focus {
    width: 260px;
}
.unit {
    min-width: inherit;
}
select {
    font-family: 'Sawarabi Mincho', sans-serif;
    padding: 7px 10px;
    border: 0;
    border-bottom: 2px black solid;
    cursor: pointer;
    line-height: 35px;
}
option:hover {
    cursor: pointer;
}
.result div {
    background: whitesmoke;
    line-height: 35px;
    text-align: left;
    padding-left: 10px;
    border-bottom: 2px black solid;
}

summary {
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 41%,#f3f3f3 51%,#ffffff 100%);
    line-height: 30px;
    cursor: pointer;
}
li {
    list-style-position: inside;
}
footer {
    position: relative;
    top: 100px;
}